body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

header {
  background: #111;
  color: white;
  padding: 20px;
  text-align: center;
}

#feed {
  max-width: 600px;
  margin: 30px auto;
}

.post {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.post h3 {
  margin: 0;
}

.post span {
  color: #555;
  font-size: 0.9em;
}

